body {

}

h1 {
  text-align: center;
}

#airport_overview {
  float: left;
  overflow: auto;
  margin-left: 3em;
}

#airport_overview tbody {
  min-height: 6em;
}

#battlefield {
  border: 1px solid green;
  float: left;
  margin-left: 15em;
}

.uncatched {
  background-color: #c8352d;
}

.catched {
  background-color: #8abc3f 
}

#reload {
  font-size: 1.5em;
  color: #545454;
  cursor: pointer;
}
